@charset "utf-8";

.wrap {
  background-color: rgb(244, 243, 243);
}

/* 헤더 */

.header__bg {
  height: 500px;
  background: url(../images/1024x450.jpg);
  background-size: cover;
  display: flex;
  /* 정가운데로 보내기 */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__bg .search {
  margin-top: 70px;
}

.header__bg > .location-card {
  color: white !important;
  background-color: rgba(33, 37, 41, 0.5) !important;
}

.header__bg > .location-card .card-subtitle {
  color: white !important;
}

/* 푸터 */

footer {
  height: 150px;
}

footer > div:nth-child(1) {
  background-color: lightgray;
  height: 50px;
  text-align: left;
  line-height: 50px;
}

footer > div:nth-child(2) {
  background-color: white;
  height: 100px;
  padding-top: 30px;
}

footer > div:nth-child(2) > div {
  font-size: 13px;
  text-align: center;
}

footer a {
  color: black !important;
  text-decoration: none !important;
}
