@charset "utf-8";

.wrap {
  background-color: rgb(240, 240, 240);
}

header {
  height: 100px;
  padding-top: 40px;
}

.naver h2 {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 44px;
  background-image: url(https://static.nid.naver.com/images/ui/join/m_naver_logo_20191126.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 240px auto;
  color: transparent;
  font-size: 0;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
}

.form-control {
  border-radius: 0 !important;
  height: 50px;
}

.form__div {
  margin: 10px 0px 10px 0px;
}

.register {
  height: 50px;
  margin: 10px 0px 10px 0px;
  background-color: rgb(5, 174, 36) !important;
  border: 1px solid rgb(5, 174, 36) !important;
  border-radius: 0 !important;
}

.form__name {
  margin-top: 30px;
}

.form-select {
  height: 50px;
  border-radius: 0 !important;
}

.number1 {
  margin: 10px 0 10px 0;
}

.Number1 {
  margin: 10px 0 10px 0;
}
.numberpush {
  margin: 10px 0 10px 0;
  height: 50px;
  border: 1px solid rgb(5, 174, 36) !important;
  background-color: rgb(5, 174, 36) !important;
}

.numberpush span {
  font-size: 14px;
}

/* 푸터 */
